#a{
    width: 550px;
    border: dimgrey 5px solid;
    margin-right: auto;
    margin-left: auto;
    height: 250px;
}
#b{
    width: 200px;
    height:200px;
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}
#a1{
    box-shadow-right: darkgrey;
    float: bottom;
    margin-bottom: 20px;
}
#c{
    width: 200px;
    height: 50px;
    float: right;
    float: top;
    padding-right: 20px;
}