#a{
    border: dimgrey solid 2px;
    box-shadow: dimgrey 15px 15px 15px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
#a1{
    border:dimgrey 1px solid;
    height: 150px;
    width: 900px;
    margin-top: 100px;
    margin-left: 40px;
    background-color: rgba(128, 128, 128, 0.24);
    box-shadow: 2px 2px 2px dimgrey;
}
#a2{
    border: dimgrey 1px solid;
    height: 150px;
    width: 900px;
    margin-top: 40px;
    margin-left: 40px;
    background-color: rgba(128, 128, 128, 0.24);
    box-shadow: 2px 2px 2px dimgrey;
}
#a3{
    border: dimgrey 1px solid;
    height: 150px;
    width: 900px;
    margin-top: 40px;
    margin-left: 40px;
    box-shadow: 2px 2px 2px dimgrey;
}
#a4{
    border: dimgrey 1px solid;
    height: 150px;
    width: 900px;
    margin-top: 40px;
    margin-left: 40px;
    box-shadow: 2px 2px 2px dimgrey;
}
#a5{
    border: dimgrey 1px solid;
    height: 150px;
    width: 900px;
    margin-top: 40px;
    margin-bottom: 100px ;
    margin-left: 40px;
    box-shadow: 2px 2px 2px dimgrey;
}
#b1{
    width: 120px;
    height: 150px;
    border:dimgrey 1px solid;
}
#b2{
    width: 120px;
    height: 150px;
    border:dimgrey 1px solid;
}
#b3{
     width: 120px;
     height: 150px;
    border:dimgrey 1px solid;
 }
#b4{
    width: 120px;
    height: 150px;
    border:dimgrey 1px solid;
}
#b5{
    width: 120px;
    height: 150px;
    border:dimgrey 1px solid;
}
#c1{
    height: 150px;
    width: 400px;
    margin-left: 150px;
    margin-top: -145px;
    margin-right:350px ;
}
#c2{
    height: 150px;
    width: 400px;
    margin-left: 150px;
    margin-top: -145px;
}
#c3{
    height: 150px;
    width: 400px;
    margin-left: 150px;
    margin-top: -145px;
}
#c4{
    height: 150px;
    width: 400px;
    margin-left: 150px;
    margin-top: -145px;
}
#c5{
    height: 150px;
    width: 400px;
    margin-left: 150px;
    margin-top: -145px;
}
i1{
    font-size: 27px;
}
u1{
    font-size: 17px;
    color: orange;
}
u2{
    font-size: 17px;
    color: red;
}
u3{
    font-size: 17px;
    color: darkgreen;
}
u4{
    font-size: 17px;
    color: goldenrod;
}

u5{
    font-size: 17px;
    color: goldenrod;
}
p{
    font-size: 14px;
}
e1{
    font-size: 22px;
    color: orange;
}
e2{
    font-size: 22px;
    color: red;
}
e3{
    font-size: 22px;
    color: darkgreen;
}
e4{
    font-size: 22px;
    color: goldenrod;
}
e5{
    font-size: 22px;
    color: goldenrod;
}
body{
    font-family: 'Be Vietnam', sans-serif;
}
#d1{
    float: right;
    width: 200px;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin-top: -157px;
}
#sp1{
    color: #ffffff;
    background-color: red;
    width: 100px;
    position: absolute;
    line-height: 55px;
    text-align: center;
    top:-11px;
    right: -34px;
    transform:rotate(45deg) ;
}
#v1{
    width: 200px;
}
#n1{
    margin-left: 70px;
    font-weight: 600;
    padding-top: 5px;
}
#m1{
    font-size: 12px;
    width: 12px;
    height: 12px;
    margin-left: 50px;
}
#j1{
    font-size: 12px;
   text-decoration: line-through;
   margin-left: 69px;
    margin-top: -12px;

}
#l1{
    font-size: 30px;
    font-weight: 600;
    margin-left: 92px;
    margin-top: -30px;
}
#o1{
    color: white;
    background-color: orange;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    top:80px;
    right: 65px;
    position: absolute;
    border-radius: 5px;
}
#d2{
    float: right;
    width: 200px;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin-top: -157px;
}
#v2{
    width: 200px;
}
#n2{
    margin-left: 70px;
    font-weight: 600;
    padding-top: 5px;
}
#m2{
    font-size: 31px;
    width: 12px;
    height: 12px;
    font-weight: 600;
    margin-left: 50px;
    margin-top: -10px;
}
#l2{
    font-size: 30px;
    font-weight: 600;
    margin-left: 75px;
    margin-top: -12px;
}
#o2{
    color: white;
    background-color: red;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    top:80px;
    right: 65px;
    position: absolute;
    border-radius: 5px;
}
#d3{
    float: right;
    width: 200px;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin-top: -157px;
}
#sp3{
    color: #ffffff;
    background-color: red;
    width: 100px;
    position: absolute;
    line-height: 55px;
    text-align: center;
    top:-11px;
    right: -34px;
    transform:rotate(45deg) ;
}
#v3{
    width: 200px;
}
#n3{
    margin-left: 70px;
    font-weight: 600;
    padding-top: 5px;
}
#m3{
    font-size: 12px;
    width: 12px;
    height: 12px;
    margin-left: 50px;
}
#j3{
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 69px;
    margin-top: -12px;

}
#l3{
    font-size: 30px;
    font-weight: 600;
    margin-left: 92px;
    margin-top: -30px;
}
#o3{
    color: white;
    background-color: darkgreen;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    top:80px;
    right: 65px;
    position: absolute;
    border-radius: 5px;
}
#d4{
    float: right;
    width: 200px;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin-top: -157px;
}
#v4{
    width: 200px;
}
#n4{
    margin-left: 70px;
    font-weight: 600;
    padding-top: 5px;
}
#m4{
    font-size: 31px;
    width: 12px;
    height: 12px;
    font-weight: 600;
    margin-left: 60px;
    margin-top: -10px;
}
#l4{
    font-size: 30px;
    font-weight: 600;
    margin-left: 85px;
    margin-top: -11px;
}
#l4{
    font-size: 30px;
    font-weight: 600;
    margin-left: 92px;
    margin-top: -10px;
}
#o4{
    color: white;
    background-color:  goldenrod;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    top:80px;
    right: 65px;
    position: absolute;
    border-radius: 5px;
}
#d5{
    float: right;
    width: 300px;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin-top: -157px;
}
#o5{
    color: white;
    background-color: goldenrod;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    top:80px;
    right: 65px;
    position: absolute;
    border-radius: 8px;
}
#y5{
    color: white;
    background-color: rgba(179, 9, 2, 1);
    width: 150px;
    height: 45px;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    text-align: center;
    line-height: 45px;
    border-radius: 8px;
    top:20px;
    right: 60px;
}



