*{
    /*ảnh hưởng cho tất cả các thẻ*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Be Vietnam', sans-serif;
}
img{
    max-width: 100%;
}
section,header,footer{
    float: left;
    width: 100%;
}
.container{
    width: 1170px;
    /*1170px dùng cho toàn màn hình*/
    margin: 0 auto;
}